:root {
  --primary-color: #1770d0;   /* Blue color for primary elements */
  --secondary-color: #6c757d; /* Gray color for secondary elements */
  --background-color: #f8f9fa; /* Light background color */
  --text-color: #333333;      /* Dark text color */
}

/* Dark mode theme */
.dark-mode {
  --primary-color: #17a2b8;   /* Alternate color for primary elements */
  --background-color: #343a40; /* Dark background color */
  --text-color: #f8f9fa;       /* Light text color */
  }

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif; 
}

/*h1 {
  color: var(--primary-color);
}*/
a {
  color: #ed960a;
}

#darkMode {
  width: 2.5vw;
  height: 5vh;
  align-content: center;
  justify-content: center;
  display: inline-flex;
}
