.box {
    width: 200px; /* Set the width of the box */
    height: 200px; /* Set the height of the box */
    border: 1px solid #000; /* Add a border to the box */
    display: flex; /* Use flexbox to center the text vertically and horizontally */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
  }

  .about :hover {
    background-color: rgb(57, 183, 211); 
  }
  .experience :hover {
    background-color: rgb(225, 101, 211);  
  }
  .skills :hover {
    background-color: rgb(121, 201, 136); 
  }
  .education :hover {
    background-color: rgb(201, 218, 50); 
    display: inline;
  }
  .hobbies :hover {
    background-color: rgb(61, 205, 218); 
    display: inline;
  }
  .contact :hover {
    background-color: rgb(47, 188, 201); 
    display: inline;
  }