@media only screen and (max-width: 768px) {
  /* Styles for small screens */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for medium screens */
}

@media only screen and (min-width: 1024px) {
  /* Styles for large screens */
}

body {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #080808;
  text-align: justify;
  background-color: rgb(232, 241, 244); 
}

* {
  box-sizing: border-box; 
}

#dateDisplay {
  border: 2px solid #e6e4d2;
  background-color: rgb(47, 121, 186); 
  margin-left: 1%;
  color:#fff;
  padding: 7px 7px;
}

.resumeTitle {
  
  text-align: center;
  color: #eef2f4;
  background-color: rgb(107, 185, 213);
  margin-left: 30%;
  margin-right: 30%;
  font-weight: bold;
  padding: 8px;
  font-style: italic;

  animation: colorChange 7s infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(20, 185, 50);
  }
  33% {
    color: rgb(69, 76, 72);
  }
  66% {
    color: rgb(12, 57, 101);
  }
  100% {
    color: rgb(248, 245, 245);
  }
}

 
header {
  background-color: #75bacf;
  text-align: center;
  margin: 20px 150px;
  display:flex;
  justify-content: center;
}

header img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  padding: 2px;
  margin-left: 80px;
  margin-top: 36px;
  border: 1px solid #000000;
}


header .name {
  color:rgb(30, 85, 153);
  text-align: center; 
  font-size: large;
  border: 2px solid #384040;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

header li {
  padding: 7px;
  margin-right: 70px;
}

ul :hover {
  background-color: #dac597;
  
}

nav a {
  text-decoration: none;
  color: navy;
}

.image-row {
  border: 1px solid #accce0;
  background-color: rgb(62, 93, 109);
  margin-left: 25px;
  margin-right: 25px;
}

.images {  
  text-align: center;
  position: relative;
  display: flex;
  margin-left: 73px;
  margin-right: 0px;
  padding: 20px;
}

.images img {
  width: 350px;
  height: 330px;
  align-items: center;
  padding: 30px;
}

.images .cap {
 
  border:2px rgb(10, 3, 3) #0c79c2;
  color: rgb(223, 217, 197);
  text-align: center;
}

#underline {
  text-decoration: underline;
}

#profile {
text-indent: 0px;
text-align: justify;
border: 1px solid #000000;
background-color: azure;
line-height: 30px; 
display: -webkit-inline-flex;
padding: 20px;
color:#22282c;
margin: 10px 150px;
}

.firstLetter {
  padding-top: 30px;
  padding-right: 13px;
}

hr {
  margin: 2% 30%;
}

.content {
  text-align: center;
  display: flex;
  border:2px solid #0ca2a2;
  margin: 30px 150px;
  
}

.content p {

text-align: center;
font-weight: bold;
font-style: italic;
color: #a77105;
justify-content: center;
padding-top: 13px;
padding-left: 30px;

}

.content img {
 padding: 15px 80px;
}

.content div {
  flex: 1;
}

.content div:first-child {
  text-align: center;
}

.table {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f3f6f8;
  }

  .table img {

    padding: 5px;
    width: 350px;
    height: 300px;
  
  }

  .table div {
    text-align: center;

  }

  .table :hover {
    border:3px solid #106b6b;
  }

  .tab {
    text-align: justify;
    padding: 30px;
  }

  
.firstPrize {
  border: 3px solid #053141;
  padding: 5px;
  display: flex;
  margin-right: 68%;
  text-align: center;
}

  #experience {
    line-height: 28px;
  }


  .note {
    text-align: justify;
    border: 2px solid #000000;
    padding: 15px;
    background-color: rgb(35, 118, 160);
    margin: 5% 25%;
    line-height: 35px;
    color:#fff;
  }

 .note p {
  text-align: center;
 }

.contacts {
    border: 2px solid #000000;
    background-color: #115b89;
    color: azure;
    display:table;
    line-height: 60px;
    margin-left: 5%;
    padding: 20px;
  }
#contact li {
  line-height: 40px;
}

.contacts a {
    text-decoration: none;
    color: rgb(13, 178, 178);
    display: inline;
  }
  .contacts img {
    width: 28px;
    height: 25px;
    margin-left: 10px;
  } 

  #red {
    color:#c7ca19
  }
  #overlay {
    line-height: 0%;
    
  } 
  #overlay1 {
    color:#bacd0c
  }

  footer {

    text-align: center;
    background-color: #032336;
    color:#fff;
    padding: 15px;

  }