@media only screen and (max-width: 768px) {
  /* Hide header photo on small screens */
  header div:first-child {
    display: none;
  }

  /* Center align the name on small screens */
  .name {
    text-align: center;
  }

  /* Center align the navigation menu on small screens */
  nav ul {
    justify-content: center;
  }

  /* Reduce font size of navigation menu on small screens */
  nav ul li {
    font-size: 14px;
  }

  /* Hide the table images on small screens */
  .table div img {
    display: none;
  }

  /* Reduce font size of table captions on small screens */
  .tab {
    font-size: 14px;
  }

  /* Update margin and padding for body */
  body {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  /* Update margin for header */
  header {
    margin: 20px;
  }

  /* Update margin for images row */
  .image-row {
    margin: 0;
  }

  /* Update margin for images */
  .images {
    margin: 0;
  }
}

/* Styles for medium screens */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Update margin and padding for body */
  body {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }

  /* Update margin for header */
  header {
    margin: 20px 150px;
  }

  /* Update margin for images row */
  .image-row {
    margin: 0 25px;
  }

  /* Update margin for images */
  .images {
    margin: auto;
    display: inline-flex;
  }
}

/* Styles for large screens */
@media only screen and (min-width: 1024px) {
  /* Update margin and padding for body */
  body {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }

  /* Update margin for header */
  header {
    margin: 20px 150px;
  }

  /* Update margin for images row */
  .image-row {
    margin: 0 25px;
  }

  /* Update margin for images */
  .images {
    margin: 0 73px;
  }
}

@media only screen and (min-width: 1024px) {
  /* Styles for large screens */
  /* CSS styles for the website title */
#website-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 2s ease-in-out;
}


body {
  
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #080808;
  text-align: justify;
  background-color: rgb(232, 241, 244); 
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

* {
  box-sizing: border-box; 
}

#dateDisplay {
  border: 2px solid #e6e4d2;
  background-color: rgb(47, 121, 186); 
  margin-left: 1%;
  color:#fff;
  padding: 7px 7px;
}

.resumeTitle {
  
  text-align: center;
  color: #eef2f4;
  background-color: rgb(107, 185, 213);
  margin-left: 30%;
  margin-right: 30%;
  font-weight: bold;
  padding: 8px;
  font-style: italic;

  animation: colorChange 7s infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(20, 185, 50);
  }
  33% {
    color: rgb(69, 76, 72);
  }
  66% {
    color: rgb(201, 52, 214);
  }
  100% {
    color: rgb(248, 245, 245);
  }
}

 
header {
  background-color: #75bacf;
  text-align: center;
  margin: 20px 150px;
  display:flex;
  justify-content: center;
}

header img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  padding: 2px;
  margin-left: 70px;
  margin-top: 36px;
  border: 1px solid #000000;
}


header .name {
  color:rgb(30, 85, 153);
  text-align: center; 
  font-size: large;
  border: 2px solid #384040;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
}

header li {
  padding: 7px;
  margin-right: 70px;
}

header ul :hover {
  background-color: #efebe3;
  
}

#about {
  margin-left: 50px;
}

#about p {
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: navy;
}

.image-row {
  border: 1px solid #accce0;
  background-color: rgb(62, 93, 109);
  margin-left: 25px;
  margin-right: 25px;
  justify-content: center;
}

.images {  
  text-align: center;
  display: flex;
  margin-left: 73px;
  margin-right: 73px;
  padding: 20px;
}

.images img {
  width: 350px;
  height: 330px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
  display: inline-flex;
}

.images .cap {
 
  border:2px rgb(10, 3, 3) #0c79c2;
  color: rgb(223, 217, 197);
  text-align: center;
}

#underline {
  text-decoration: underline;
}

#profile {
text-indent: 0px;
text-align: justify;
border: 1px solid #000000;
background-color: azure;
line-height: 30px; 
display: -webkit-inline-flex;
padding: 20px;
color:#22282c;
margin: 10px 150px;
}

.firstLetter {
  padding-top: 30px;
  padding-right: 13px;
}

hr {
  margin: 2% 30%;
}

.content {
  text-align: center;
  display: flex;
  border:2px solid #0ca2a2;
  margin: 30px 150px;
  
}

.content p {

text-align: center;
font-weight: bold;
font-style: italic;
color: #a77105;
justify-content: center;
padding-top: 13px;
padding-left: 30px;

}

.content img {
 padding: 15px 80px;
}

.content div {
  flex: 1;
}

.content div:first-child {
  text-align: center;
}

.table {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f3f6f8;
  }

  .table img {

    padding: 5px;
    width: 350px;
    height: 300px;
  
  }

  .table div {
    text-align: center;

  }

  .table :hover {
    border: 2px solid #106b6b;
  }

  .tab {
    text-align: justify;
    padding: 30px;
  }

  #experience {
    line-height: 18px;
    margin-left: 50px;
  }

  .job-description li {
    line-height: 40px;
    margin-right: 140px;
  }

  #education {
    margin-left: 50px;
  }

  .master-degree {
    color:#c1aa14;
   } 
   
  .firstPrize {
    border: 3px solid #053141;
    padding: 5px;
    display: inline-flex;
    margin:auto;
    text-align: center;
  }

  #skills {
    margin-left: 50px;
    line-height: 40px;
  }

  #hobbies {
    margin-left: 50px;
    line-height: 40px;
  }

.contacts {
    border: 2px solid #000000;
    background-color: #115b89;
    color: azure;
    display:table;
    line-height: 30px;
    margin-left: 5%;
    padding: 15px;
  }
#contact li {
  line-height: 40px;
}

.contacts a {
    text-decoration: none;
    color: rgb(13, 178, 178);
    display: inline;
  }
  .contacts img {
    width: 28px;
    height: 25px;
    margin-left: 10px;
  } 

  #overlay1 {
    color: #e1f045;
    
  } 

  .note {
    text-align: justify;
    border: 2px solid #000000;
    padding: 5px;
    background-color: rgb(20, 95, 132);
    margin: 5% 25%;
    line-height: 35px;
    color:#fff;
  }

 .note p {
  text-align: center;

 }

 .note li {
  padding-right: 20px;
 }

  #red {
    color:#f1f126;
  }
  
  
  footer {

    text-align: center;
    background-color: #032336;
    color:#fff;
    padding: 15px;

  }

}

/* CSS styles for the website title */
#website-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 2s ease-in-out;
}


body {
  
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #080808;
  text-align: justify;
  background-color: rgb(232, 241, 244); 
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

* {
  box-sizing: border-box; 
}

#dateDisplay {
  border: 2px solid #e6e4d2;
  background-color: rgb(47, 121, 186); 
  margin-left: 1%;
  color:#fff;
  padding: 7px 7px;
}

.resumeTitle {
  
  text-align: center;
  color: #eef2f4;
  background-color: rgb(107, 185, 213);
  margin-left: 30%;
  margin-right: 30%;
  font-weight: bold;
  padding: 8px;
  font-style: italic;

  animation: colorChange 7s infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(20, 185, 50);
  }
  33% {
    color: rgb(69, 76, 72);
  }
  66% {
    color: rgb(12, 57, 101);
  }
  100% {
    color: rgb(248, 245, 245);
  }
}

 
header {
  background-color: #75bacf;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
  display: inline-flex;
}

header div { 
  margin: auto;
  display: inline-flex;
}

header img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  padding: 2px;
  border: 1px solid #000000;
  margin: auto;
  justify-content: center;
}

header .name {
  color:rgb(30, 85, 153);
  text-align: center; 
  font-size: large;
  border: 2px solid #384040;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

header li {
  padding: 7px;
  justify-content: center;
}

header ul :hover {
  background-color: #efebe3;
  
}

#about {
  margin-left: 50px;
}

#about p {
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: navy;
}

.image-row {
  border: 1px solid #accce0;
  background-color: rgb(62, 93, 109);
  margin-left: 25px;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
}

.images {  
  text-align: center;
  display: inline-flex;
  margin: auto;
  padding: 20px;
  justify-content: center;
}

.images img {
  width: 350px;
  height: 330px;
  align-items: center;
  padding: 30px;
}

.images .cap {
 
  border:2px rgb(10, 3, 3) #0c79c2;
  color: rgb(223, 217, 197);
  text-align: center;
}

#underline {
  text-decoration: underline;
}

#profile {
text-indent: 0px;
text-align: justify;
border: 1px solid #000000;
background-color: azure;
line-height: 30px; 
display: -webkit-inline-flex;
padding: 20px;
color:#22282c;
margin: 10px 150px;
}

.firstLetter {
  padding-top: 30px;
  padding-right: 13px;
}

hr {
  margin: 2% 30%;
}

.content {
  text-align: center;
  display: flex;
  border:2px solid #0ca2a2;
  margin: 30px 150px;
  
}

.content p {

text-align: center;
font-weight: bold;
font-style: italic;
color: #a77105;
justify-content: center;
padding-top: 13px;
padding-left: 30px;

}

.content img {
 padding: 15px 80px;
}

.content div {
  flex: 1;
}

.content div:first-child {
  text-align: center;
}

.table {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f3f6f8;
  }

  .table img {

    padding: 5px;
    width: 350px;
    height: 300px;
  
  }

  .table div {
    text-align: center;

  }

  .table :hover {
    border: 2px solid #106b6b;
  }

  .tab {
    text-align: justify;
    padding: 30px;
  }

  #experience {
    line-height: 18px;
    margin-left: 50px;
  }

  .job-description li {
    line-height: 40px;
    margin-right: 140px;
  }

  #education {
    margin-left: 50px;
  }

  .master-degree {
    color:#c1aa14;
   } 
   
  .firstPrize {
    border: 3px solid #053141;
    padding: 5px;
    display: inline-flex;
    margin:auto;
    text-align: center;
  }

  #skills {
    margin-left: 50px;
    line-height: 40px;
  }

  #hobbies {
    margin-left: 50px;
    line-height: 40px;
  }

.contacts {
    border: 2px solid #000000;
    background-color: #115b89;
    color: azure;
    display:table;
    line-height: 30px;
    margin-left: 5%;
    padding: 15px;
  }
#contact li {
  line-height: 40px;
}

.contacts a {
    text-decoration: none;
    color: rgb(13, 178, 178);
    display: inline;
  }
  .contacts img {
    width: 28px;
    height: 25px;
    margin-left: 10px;
  } 

  #overlay1 {
    color: #e1f045;
    
  } 

  .note {
    text-align: justify;
    border: 2px solid #000000;
    padding: 5px;
    background-color: rgb(20, 95, 132);
    margin: 5% 25%;
    line-height: 35px;
    color:#fff;
  }

 .note p {
  text-align: center;

 }

 .note li {
  padding-right: 20px;
 }

  #red {
    color:#f1f126;
  }
  
  
  footer {

    text-align: center;
    background-color: #032336;
    color:#fff;
    padding: 15px;

  }